{% extends "index.html" %} {% block detail %}

<div class="container">
  <div class="row m-4">
    <div class="card col-md-5 p-2 shadow">
      <img src="{{obj.image.image.url}}" alt="" />
    </div>

    <div class="card col-md-7 p-3">
      <h6>Farmer name : {{obj.farmername}}</h6>

      <br />
      {% if obj.cropname %}
      <h6>Crop name : {{obj.cropname}}</h6>
        {% endif %}
      <br />
      <h6>Uploaded by : {{obj.image.user}}</h6>
        <br>
        {% if obj.time_stamb %}
        <h6>Uploaded date : {{obj.time_stamb}}</h6>

        {% endif %}
        <br>
        {% if obj.time %}
        <h6>image taken on  : {{obj.time}}</h6>

        {% endif%}


    </div>
  </div>
</div>

{% endblock detail %}
