{% extends "index.html" %}



{% block detail %}
    

<div class="container">
    <div class="row">
        <div class="col-lg-3 " >

            <div>
                <img src="{{obj.image.image.url}}" alt="" style="height: 300px; " class="m-5">
               
            </div>
            <h6>{{obj.farmername}}</h6>
            <div class="m-5">

                <div>
                    
                </div>

            </div>


        </div>

           
    </div>
</div>
{% endblock detail %}
    