{% extends "index.html" %}


{% block home %}


<div class="container d-flex justify-content-center m-3 " style="height: 15vh">
  

  <div class="p-3 border bg-light shadow ">
    <div class="">


      {% include "message.html" %}
      <form action="{% url 'home' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="input">
          <input type="file" class="mb-3" name="images" />

          <input type="submit" class="" />
        </div>
      </form>
    </div>
  </div>
</div>


<div class="container d-flex justify-content-center align-items-center">
  <div class="row d-flex justify-content-cente">
    {% for i in obj %}
    <div class="col-lg-3  d-flex justify-content-cente m-2" >
      <div class="card shadow">
        <img src="{{ i.image.image.url }}" class="img-fluid p-2" alt="{{ i.title }}"  >
        <div class="card-body">
          <h5 class="card-title">{{ i.farmername}}</h5>
          <p class="card-text">{{ i.description }}</p>
          <a href="{{ i.link }}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>










{% endblock home %}
