{% extends "index.html" %}


{% block home %}
<div class="container d-flex justify-content-center m-3" style="height: 15vh">
  <div class="p-3 border bg-light shadow">
    <div class="">
      <form action="{% url 'home' %}" method="POST"> {% csrf_token %}
        <div class="input">
          <input type="file" class="mb-3" name="images" />

          <input type="submit" class="m-4" />
        </div>
      </form>
    </div>
  </div>
</div>

{% for i in obj  %}
  
<div class="card m-5 shadow" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endfor %}







{% endblock home %}
