
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>OCR Upload</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2 class='register'>Upload Image for OCR</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" required><br><br>
        <button type="submit">Upload and Process</button>
    </form>
    {% if text %}
        <h3>Extracted Text:</h3>
        <pre>{{ text }}</pre>
    {% endif %}
</body>
</html>
